[Unit]
Description=Copy host_file created by dnsapi.service to remote DNS hosts file

[Service]
Type=simple
ExecStart=/var/www/cgi-bin/dnsapi/dnsapplyconfig.sh

[Install]
WantedBy=multi-user.target
Alias=dnsmonitor.service


